@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">


<header class="header header-transparent" id="header-main">
    <!-- Topbar -->
    <div id="navbar-top-main" class="navbar-top  navbar-dark bg-dark border-bottom">
        <div class="container px-0">
            <div class="navbar-nav align-items-center">
                <div class="d-none d-lg-inline-block">
                    <span class="navbar-text mr-3">Parking Alert</span>
                </div>
                <div>
                    <ul class="nav">
                        <li class="nav-item dropdown ml-lg-2">
                            <a class="nav-link px-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,10">
                                <img alt="Image placeholder" src="../../assets/img/icons/flags/us.svg">
                                <span class="d-none d-lg-inline-block">United States</span>
                                <span class="d-lg-none">EN</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-sm">
                                <a href="#" class="dropdown-item"><img alt="Image placeholder" src="../../assets/img/icons/flags/es.svg">Spanish</a>
                                <a href="#" class="dropdown-item"><img alt="Image placeholder" src="../../assets/img/icons/flags/ro.svg">Romanian</a>
                                <a href="#" class="dropdown-item"><img alt="Image placeholder" src="../../assets/img/icons/flags/gr.svg">Greek</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="ml-auto">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../../pages/utility/support.html">Support</a>
                        </li>
                        
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                <h6 class="dropdown-header">User menu</h6>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user"></i>Account
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="float-right badge badge-primary">4</span>
                                    <i class="fas fa-envelope"></i>Messages
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cog"></i>Settings
                                </a>
                                <div class="dropdown-divider" role="presentation"></div>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-sign-out-alt"></i>Sign out
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</header>
<body>
    

    
    <div class="main-content">
        <!-- Header (v2) -->
        <section class="slice slice-lg bg-section-dark" data-offset-top="#header-main">
            <!-- SVG background -->
            <div class="bg-absolute-cover bg-size--contain d-flex align-items-center">
                <figure class="w-100">
                    <img alt="Image placeholder" src="../../assets/img/svg/backgrounds/light-texture.svg" class="svg-inject">
                </figure>
            </div>
            <div class="py-6 py-xl-9">
                <div class="container position-relative zindex-100">
                    <div class="col px-0">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2 class="h1 text-white">
                                    Parking Safety Is a Priority
                                </h2>
                                <p class="lead text-white mt-4">
                                     Parking just became much more convenient with our packing alert app, all you have to do is scan the QR Code.
                                </p>
                                <a href="#sct-what-we-do" class="btn btn-white rounded-pill mt-4">
                                    See how it works
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Features (v8) -->
        <section class="slice slice-lg" id="sct-what-we-do">
            <div class="container">
                <div class="row row-grid">
                    <div class="col-lg-4">
                        <div class="">
                            <div class="pb-5">
                                <div class="icon bg-gradient-primary text-white rounded-circle icon-lg icon-shape shadow">
                                    <i class="fas fa-palette"></i>
                                </div>
                            </div>
                            <h5 class="font-weight-bold">QR Code Scan</h5>
                            <p class="mt-2 mb-0">
                                Open a QR Code scanner, scan the QR code on the car you need to send an alert to it's owner.'
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="">
                            <div class="pb-5">
                                <div class="icon bg-gradient-warning text-white rounded-circle icon-lg icon-shape shadow">
                                    <i class="fas fa-code"></i>
                                </div>
                            </div>
                            <h5 class="font-weight-bold">Select a Custom Message</h5>
                            <p class="mt-2 mb-0">
                               From the web page or app installed in your phone you can select a custom message that is directly delivered to the user.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="">
                            <div class="pb-5">
                                <div class="icon bg-gradient-danger text-white rounded-circle icon-lg icon-shape shadow">
                                    <i class="fas fa-cogs"></i>
                                </div>
                            </div>
                            <h5 class="font-weight-bold">Recieve Replies</h5>
                            <p class="mt-2 mb-0">
                                After message is recieved, user will send a customized reply notifying you of their response.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Default input">
        </div>
              <!-- Video (v1) -->
        <section class="slice-video slice-xl d-flex align-items-center bg-cover bg-size--cover" style="background-image: url(../../assets/img/backgrounds/img-13.jpg);">
            <span class="mask bg-gradient-dark opacity-7"></span>
            <div class="container">
                <div class="col">
                    <div class="row justify-content-center">
                        <div class="col-md-10 text-center">
                            <h2 class="display-4 text-white">
                                Does this complain sound familiar?
                            </h2>
                            <h4 class="text-white mt-3">Watch this video to hear a compalain we got</h4>
                            <a href="https://www.youtube.com/watch?v=mqpwDJpI3Rc" data-fancybox data-toggle="tooltip" data-placement="bottom" title="Watch video in lightbox" class="btn btn-white btn-icon-only rounded-circle hover-scale-110 mt-4">
                                <span class="btn-inner--icon">
                                    <i class="fas fa-play"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
     
       
        
    </div>
    
    <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
    <script src="../../assets/js/purpose.core.js"></script>
    <!-- Page JS -->
    <script src="../../assets/libs/swiper/dist/js/swiper.min.js"></script>
    <script src="../../assets/libs/@@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <!-- Purpose JS -->
    <script src="../../assets/js/purpose.js"></script>
    <!-- Demo JS - remove it when starting your project -->
    <script src="../../assets/js/demo.js"></script>
</body>

</html>
