@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">



<body>
    

    
    <div class="main-content">
        <!-- Header (v2) -->
        <section class="slice slice-lg bg-section-dark" data-offset-top="#header-main">
            <!-- SVG background -->
            <div class="bg-absolute-cover bg-size--contain d-flex align-items-center">
                <figure class="w-100">
                    <img alt="Image placeholder" src="../../assets/img/svg/backgrounds/light-texture.svg" class="svg-inject">
                </figure>
            </div>
            <div class="py-6 py-xl-9">
                <div class="container position-relative zindex-100">
                    <div class="col px-0">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2 class="h1 text-white">
                                    Start your business with Purpose
                                </h2>
                                <p class="lead text-white mt-4">
                                    Purpose is an innovative HTML template solution based on Bootstrap 4, which combines beautiful design and flawless functionality.
                                </p>
                                <a href="#sct-what-we-do" class="btn btn-white rounded-pill mt-4">
                                    See what we do
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Features (v8) -->
        <section class="slice slice-lg" id="sct-what-we-do">
            <div class="container">
                <div class="row row-grid">
                    <div class="col-lg-4">
                        <div class="">
                            <div class="pb-5">
                                <div class="icon bg-gradient-primary text-white rounded-circle icon-lg icon-shape shadow">
                                    <i class="fas fa-palette"></i>
                                </div>
                            </div>
                            <h5 class="font-weight-bold">Awesome design</h5>
                            <p class="mt-2 mb-0">
                                Purpose is a great
                                free UI package based on Bootstrap 4 that includes the most important components and features.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="">
                            <div class="pb-5">
                                <div class="icon bg-gradient-warning text-white rounded-circle icon-lg icon-shape shadow">
                                    <i class="fas fa-code"></i>
                                </div>
                            </div>
                            <h5 class="font-weight-bold">Intuitive code</h5>
                            <p class="mt-2 mb-0">
                                Purpose is a great
                                free UI package based on Bootstrap 4 that includes the most important components and features.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="">
                            <div class="pb-5">
                                <div class="icon bg-gradient-danger text-white rounded-circle icon-lg icon-shape shadow">
                                    <i class="fas fa-cogs"></i>
                                </div>
                            </div>
                            <h5 class="font-weight-bold">Helpful build tools</h5>
                            <p class="mt-2 mb-0">
                                Purpose is a great free
                                UI package based on Bootstrap 4 that includes the most important components and features.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Features (v9) -->
        <section class="slice slice-lg">
            <div class="container">
                <div class="row no-gutters align-items-md-center text-center text-md-left">
                    <div class="card hover-shadow-lg hover-scale-110 order-2 col-lg-7 ml--100">
                        <div class="card-body p-5">
                            <h6 class="text-muted">Purpose meets <strong>Enterprise</strong></h6>
                            <p class="h4 lh-150">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta.
                            </p>
                        </div>
                    </div>
                    <div class="order-1 col-lg-6 mb-4 mb-lg-0">
                        <img alt="Image placeholder" src="../../assets/img/theme/light/img-6-800x600.jpg" class="img-fluid rounded shadow">
                    </div>
                </div>
            </div>
        </section>
        <!-- Swiper (v1) -->
        <section class="slice slice-lg">
            <div class="container pt-7 swiper-js-container">
                <div class="swiper-container" data-swiper-effect="coverflow" data-swiper-centered-slides="true" data-swiper-initial-slide="2" data-swiper-items="1" data-swiper-space-between="0" data-swiper-sm-items="4" data-swiper-sm-space-between="0">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="../../assets/img/theme/light/mobile-7.jpg" data-fancybox="apps">
                                <img alt="Image placeholder" src="../../assets/img/theme/light/mobile-7.jpg" class="img-fluid rounded">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="../../assets/img/theme/light/mobile-1.jpg" data-fancybox="apps">
                                <img alt="Image placeholder" src="../../assets/img/theme/light/mobile-1.jpg" class="img-fluid rounded">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="../../assets/img/theme/light/mobile-2.jpg" data-fancybox="apps">
                                <img alt="Image placeholder" src="../../assets/img/theme/light/mobile-2.jpg" class="img-fluid rounded">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="../../assets/img/theme/light/mobile-3.jpg" data-fancybox="apps">
                                <img alt="Image placeholder" src="../../assets/img/theme/light/mobile-3.jpg" class="img-fluid rounded">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="../../assets/img/theme/light/mobile-4.jpg" data-fancybox="apps">
                                <img alt="Image placeholder" src="../../assets/img/theme/light/mobile-4.jpg" class="img-fluid rounded">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="../../assets/img/theme/light/mobile-5.jpg" data-fancybox="apps">
                                <img alt="Image placeholder" src="../../assets/img/theme/light/mobile-5.jpg" class="img-fluid rounded">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="../../assets/img/theme/light/mobile-7.jpg" data-fancybox="apps">
                                <img alt="Image placeholder" src="../../assets/img/theme/light/mobile-7.jpg" class="img-fluid rounded">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="../../assets/img/theme/light/mobile-1.jpg" data-fancybox="apps">
                                <img alt="Image placeholder" src="../../assets/img/theme/light/mobile-1.jpg" class="img-fluid rounded">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Features (v10) -->
        <section class="slice slice-lg">
            <div class="container">
                <div class="mb-5 text-center">
                    <h3 class=" mt-4">Reasons to work with us</h3>
                    <div class="fluid-paragraph mt-3">
                        <p class="lead lh-180">Always looking for better ways to do things, innovate and help people achieve their goals.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card hover-shadow-lg hover-scale-110">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="icon text-primary rounded-circle">
                                        <i class="fas fa-terminal"></i>
                                    </div>
                                    <div class="icon-text pl-4">
                                        <h5 class="ma-0 ">Customizable with a few clicks</h5>
                                        <p class="mb-0">
                                            Purpose is a great free UI package based on
                                            Bootstrap 4 that includes the most important components and features.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card hover-shadow-lg hover-scale-110">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="icon text-primary rounded-circle">
                                        <i class="fas fa-expand"></i>
                                    </div>
                                    <div class="icon-text pl-4">
                                        <h5 class="ma-0 ">Fully responsive on any device</h5>
                                        <p class="mb-0">
                                            Purpose is a great free UI package
                                            based on Bootstrap 4 that includes the most important components and features.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card hover-shadow-lg hover-scale-110">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="icon text-primary rounded-circle">
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="icon-text pl-4">
                                        <h5 class="ma-0 ">Brining new features constantly</h5>
                                        <p class="mb-0">
                                            Purpose is a great free UI package based on
                                            Bootstrap 4 that includes the most important components and features.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card hover-shadow-lg hover-scale-110">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="icon text-primary rounded-circle">
                                        <i class="fas fa-smile-wink"></i>
                                    </div>
                                    <div class="icon-text pl-4">
                                        <h5 class="ma-0 ">Built around your suggestions</h5>
                                        <p class="mb-0">
                                            Purpose is a great free UI package based on
                                            Bootstrap 4 that includes the most important components and features.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Video (v1) -->
        <section class="slice-video slice-xl d-flex align-items-center bg-cover bg-size--cover" style="background-image: url(../../assets/img/backgrounds/img-13.jpg);">
            <span class="mask bg-gradient-dark opacity-7"></span>
            <div class="container">
                <div class="col">
                    <div class="row justify-content-center">
                        <div class="col-md-10 text-center">
                            <h2 class="display-4 text-white">
                                Ready to grow faster?
                            </h2>
                            <h4 class="text-white mt-3">Create your own experience</h4>
                            <a href="https://www.youtube.com/watch?v=mqpwDJpI3Rc" data-fancybox data-toggle="tooltip" data-placement="bottom" title="Watch video in lightbox" class="btn btn-white btn-icon-only rounded-circle hover-scale-110 mt-4">
                                <span class="btn-inner--icon">
                                    <i class="fas fa-play"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Features (v11) -->
        <section class="slice slice-lg">
            <div class="container">
                <div class="row mb-6">
                    <div class="col-lg-7">
                        <small class="text-uppercase ls-2 text-muted">The challenge</small>
                        <h2 class="mt-3">
                            When you possess great treasures within you and try to tell others of them, seldom are you believed.
                        </h2>
                    </div>
                </div>
                <div class="row mb-6">
                    <div class="col-lg-4">
                        <p class="lead">
                            "People need not fear the unknown if they are capable of achieving what they need and want."
                        </p>
                        <span class="clearfix"></span>
                        <h6 class="text-muted mt-3">Photos by Bertram Ozzie</h6>
                    </div>
                    <div class="col-lg-6 ml-lg-auto">
                        <p class="lead">
                            She exposed painted fifteen are noisier mistake led waiting. Surprise not wandered speedily husbands although yet end. Are court tiled cease young built fat one man taken. We highest ye friends is exposed equally in. Ignorant
                            had too strictly followed.
                        </p>
                    </div>
                </div>
                <div class="row align-items-md-center">
                    <div class="col-lg-3 col-6 mb-5 mb-lg-0">
                        <div class="text-center mb-5 mb-lg-0">
                            <div class="icon icon-lg text-danger">
                                <i class="fas fa-heart"></i>
                            </div>
                            <span class="d-block mt-4 h3 text-danger">97%</span>
                            <span class="d-block mt-2 h6">Happy clients</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mb-5 mb-lg-0">
                        <div class="text-center mb-5 mb-lg-0">
                            <div class="icon icon-lg text-primary">
                                <i class="fas fa-clock"></i>
                            </div>
                            <span class="d-block mt-4 h3 text-primary">365x7</span>
                            <span class="d-block mt-2 h6">Customer support</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mb-5 mb-lg-0">
                        <div class="text-center">
                            <div class="icon icon-lg text-warning">
                                <i class="fas fa-images"></i>
                            </div>
                            <span class="d-block mt-4 h3 text-warning">70+</span>
                            <span class="d-block mt-2 h6">Pre-built pages</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mb-5 mb-lg-0">
                        <div class="text-center">
                            <div class="icon icon-lg text-info">
                                <i class="fas fa-layer-group"></i>
                            </div>
                            <span class="d-block mt-4 h2 text-info">990</span>
                            <span class="d-block mt-2 h6">Fresh components</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        
    </div>
    
    <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
    <script src="../../assets/js/purpose.core.js"></script>
    <!-- Page JS -->
    <script src="../../assets/libs/swiper/dist/js/swiper.min.js"></script>
    <script src="../../assets/libs/@@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <!-- Purpose JS -->
    <script src="../../assets/js/purpose.js"></script>
    <!-- Demo JS - remove it when starting your project -->
    <script src="../../assets/js/demo.js"></script>
</body>

</html>
